<!-- Loop over each object in the blogs array -->
<div class="text-center">
  <div class="row mb-4 project">

    <div class="col-md-5">
      <div>
        <h2>
          <a href="/login">{{title}}</a>
        </h2>

        <h5>
          Posted by {{user.username}} on {{date_created}}
        </h5>
      </div>

      <p>
        {{content}}
      </p>

      <form>
        <h5>Add a Comment:</h5>
        <textarea id="comment"></textarea>
        <button class="submit">Submit comment</button>
        <input type="hidden" id="userId" name="userId" value="{{user_id}}"/>
        <input type="hidden" id="blogId" name="blogId" value="{{id}}"/>
      </form>

      {{#each comments as |comment|}}

      <h3>Comments</h3>
      <p>
        {{comment.comment_text}} <br>
        Made by: {{user.username}},{{date_created}}
      </p>

      {{/each}}
    </div>

  </div>
</div>

<script src="/js/comment.js"></script>