<div class="text-center">
    <h4>Title</h4>
    <textarea value="{{title}}" id="title">{{title}}</textarea>

    <h4>Content</h4>
    <textarea value="{{content}}" id="content">{{content}}</textarea>
    <p></p>
    <button data-id="{{id}}" type="submit" class="update btn-primary">Update</button>
    <p></p>
    <button data-id="{{id}}" type="submit" class="delete btn-primary">Delete</button>
    <input type="hidden" id="userId" name="userId" value="{{user_id}}"/>
</div>


<script src="/js/update_delete.js"></script>